<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Ubah Jabatan</title>
<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<script th:src="@{/js/bootstrap.min.js}"></script>
	<script src="/js/top.js"></script>

<style>
button {
	margin-left: 200px;
}

.form-control {
	width: 500px;
}

.row {
	margin-left: 25px;
	margin-top: 50px;
}

.formulir {
	padding: 20px;
}







.alert {
	padding: 20px;
	background-color: #48D1CC;
	margin-right: 10px;
	color: white;
}

.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.closebtn:hover {
	color: black;
}
</style>

</head>


<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>



	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">

					<h3>Masukan Data Baru</h3>

				</div>
				<form class="formulir" th:action="@{/pegawai/ubah}"
					th:object="${pegawai}" method="POST">

						<input th:value="${pegawai.nip}" name="nip" class="form-control" type="hidden" /> 
						<br> 
						<b>Nama Pegawai:</b><br>
						 <input th:value="${pegawai.nama}" type="text" name="nama" class="form-control" />
						<br> 
						<b>Tempat Lahir:</b>
						<br> 
						<input th:value="${pegawai.tempatLahir}" type="text" name="tempatLahir" class="form-control" /> 
						<br> 
						<b>Tanggal Lahir:</b> 
						<br> 
						<input th:value="${pegawai.tanggalLahir}" type="Date" name="tanggalLahir" class="form-control" /> 
						<br> 
						<b>Tahun Masuk:</b>
						<br> 
						<input th:value="${pegawai.tahunMasuk}" type="text" name="tahunMasuk" class="form-control" /> <br>
					<div>
						<b>Provinsi : </b>
						<div>
							<select id="provinsi" name="provinsi" class="form-control">
								<option th:value="${pegawai.idInstansi.idProvinsi.id}"
									th:text="'Selected : '+${pegawai.idInstansi.idProvinsi.nama}"
									type="text" name="deskripsi" />
								<option class="form-control"
									th:each="provinsi : ${daftarProvinsi}"
									th:value="${provinsi.id}" th:text="${provinsi.nama}" />
							</select>
						</div>
					</div>
					<br> <b>Nama Instansi : </b>
					<div>
						<select name="idInstansi" th:value="*{idInstansi}" id="instansi"
							class="form-control">
							<option th:value="${pegawai.idInstansi.id}"
								th:text="'Selected : '+${pegawai.idInstansi.nama}" type="text"
								name="deskripsi" class="form-control" />
							<option th:each="instansi: ${daftarInstansi}"
								th:value="${instansi.id}" th:text="${instansi.nama}" />
						</select>
					</div>
				<br>
				<div ><b>Jabatan:</b></div>
					
					<div  th:each="jabatanPegawai, statusJabatan : *{jabatanPegawai}" >
						<select th:field="*{jabatanPegawai[__${statusJabatan.index}__].jabatan}" class="form-control">
						    <option th:each="jabatan, status : ${daftarJabatan}" th:value="${jabatan.id}" th:text="${jabatan.nama}"/>
						</select>
						<br>
						
					</div>
					<br>
				
			 		<button type="submit" name="addJabatan" class="btn btn-success btn-sm">Tambah Jabatan Lainnya</button>
					<br>
					<br>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>


			</div>
		</div>
		
	</div><br>
	<a style="margin-left:40px;"th:href="@{'/pegawai?nip='}+ ${pegawai.nip}" class="previous">&laquo; Previous</a><br><a style="margin-left:1400px;"id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up">^</span></a><br>
	
	
	


</body>

<script th:inline="javascript">
	$('#provinsi').change(
			function() {
				$.getJSON("/instansi", {
					provinsiId : $(this).val(),
					ajax : 'true'
				}, function(data) {

					var html = '<option value="">Pilih Instansi</option>';
					var len = data.length;
					for (var i = 0; i < len; i++) {
						html += '<option value="' + data[i].id + '">'
								+ data[i].nama + '</option>';
					}
					html += '</option>';
					$('#instansi').html(html);
				});
			});
</script>

</html>